.real_time_monitoring {
  width: 100%;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .header {
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #1d1f28 url(@/assets/images/supervisoryTop.png) no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
    .title {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }
    .record_number {
      padding: 4px 8px;
      margin-left: 15px;
      min-width: 20px;
      font-size: 18px;
      color: #f5f5f5;
      background: #ffb24f;
      font-weight: 700;
      border-radius: 10px;
    }
  }
  .record_list_wrap {
    flex: 1;
    max-height: calc(100vh - 50px);
    overflow: hidden;
    background: #1d1f28 url(@/assets/images/supervisoryBg.png) no-repeat;
    background-size: 100% 100%;
    color: transparent; // 文字透明
    display: grid;
    padding: 8px 30px 30px;
  }
  .record_list {
    overflow: hidden;
    .news_item {
      transform: translateX(0); /* 初始位置 */
      transition: transform 1s ease; /* 透明度和位移的过渡效果 */
      &:nth-child(1) {
        animation: moveIn 2s;
      }
    }
    .item_wrap {
      width: 100%;
      padding: 27px 0px 18px 0px;
      margin: 0px;
      border-bottom: 1px solid #75a3ce;
      .log_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 18px;
        margin-bottom: 8px;
        .regular,
        .success {
          font-size: 16px;
        }
        .regular {
          color: #0096ff;
          padding-left: 10px;
        }
        .success {
          color: #05ebc7;
          padding-left: 10px;
        }
        .time {
          color: #a6cff5;
          margin-right: 3px;
          font-size: 16px;
        }
      }
      .log_desc {
        color: #a6cff5;
        margin-right: 3px;
        font-size: 18px;
      }
    }
    .no_data {
      font-size: 22px;
      color: #ffffff;
      text-align: center;
      margin-top: 20px;
    }
  }
}
@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateX(100%); /* 初始位置：透明且向下偏移 */
  }
  to {
    opacity: 1;
    transform: translateX(0%); /* 结束位置：完全可见且返回原位 */
  }
}
